<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Forskol</title>
	<link href="css/main.css" rel="stylesheet">

	<!--[if lt IE 9]>
	  <script src="js/html5shiv.min.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="withTexture">
	<form method="post" id="mainform" data-type="billing">
	<div id="mainWrapper" class="container">
		<div class="row">
			<div id="wrapper">
				
				<div id="topSection" class="clearfix">
					<img src="images/top-section-model.png" alt="" class="model"/>
					<img src="images/top-section-title.png" alt="" class="title"/>
					<img src="images/dual-action.png" alt="" class="dualAction"/>
				</div><!-- END topSection -->
				
				<div id="order" class="clearfix">
					<div class="col-sm-8 offers">
						<div class="offer one" data-id="12404">
							<div class="caption"><img src="images/offer1-title.png" alt="" class="title"/><img src="images/freeshipping-rush.png" alt="" class="freeShippingRush"/></div>
							<img src="images/offer1-bottles.png" alt="" class="bottles"/>
							<img src="images/plus-sign.png" alt="" class="plusSign"/>
							<img src="images/offer-bottles-free.png" alt="" class="bottlesFree"/>
							<p class="discount"><em>Best Seller *</em> 5 Month Discount Plan</p>
							<div class="saving"><img src="images/saving-bg.png" alt=""/><span>Save<br/>$147</span></div>
							<p class="price">$26.<sup>60</sup><span>each</span><em>Only {{{formatMoney products.0.price}}}</em></p>
							<div class="checkbtn"><img src="images/checkbtn-check.png" alt=""/></div>
							<input type="radio" id="offerType" name="offerType" value="one" class="radioBtn"/>
						</div>
						
						<div class="offer two" data-id="12405">
							<div class="caption"><img src="images/offer2-title.png" alt="" class="title"/><img src="images/freeshipping.png" alt="" class="freeShipping"/></div>
							<img src="images/offer2-bottles.png" alt="" class="bottles"/>
							<img src="images/plus-sign.png" alt="" class="plusSign"/>
							<img src="images/offer-bottles-free.png" alt="" class="bottlesFree"/>
							<p class="discount">3 Month Discount Plan</p>
							<div class="saving"><img src="images/saving-bg.png" alt=""/><span>Save<br/>$79</span></div>
							<p class="price">$32.<sup>66</sup><span>each</span><em>Only {{{formatMoney products.1.price}}}</em></p>
							<div class="checkbtn"><img src="images/checkbtn-check.png" alt=""/></div>
							<input type="radio" id="offerType" name="offerType" value="two" class="radioBtn"/>
						</div>
						
						<div class="offer three" data-id="12406">
							<div class="caption"><img src="images/offer3-title.png" alt="" class="title"/><img src="images/freeshipping.png" alt="" class="freeShipping"/></div>
							<img src="images/offer3-bottle.png" alt="" class="bottles"/>
							<p class="discount">1 Month Starter Plan</p>
							<div class="saving"><img src="images/saving-bg.png" alt=""/><span>Save<br/>$11</span></div>
							<p class="price">{{{formatMoney products.2.price}}}</p>
							<div class="checkbtn"><img src="images/checkbtn-check.png" alt=""/></div>
							<input type="radio" id="offerType" name="offerType" value="three" class="radioBtn"/>
						</div>
						
						<div class="orderSummary">
							<div class="row">
								<div class="col-sm-3">
									<img src="images/usps-logo.jpg" alt="" class="courier"/>
								</div>
								<div class="col-sm-9">
									<table>
										<caption>Order Summary</caption>
										<tr><th>Package:</th><td id="scSelectedProduct">Please select above</td></tr>										
										<tr><th>Shipping Type:</th><td>FREE Shipping</td></tr>
										<tr class="secondLast"><th>Shipping Price:</th><td class="scShipping">-</td></tr>	
										<tr class="footing"><th>Your total:</th><td><strong class="scTotal">-</strong></td></tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-sm-4 sidebar">
						<div class="form">
							<div class="title"><img src="images/form-title.png" alt=""/></div>
							
							<div class="fields">
								<div class="sameShipping">
									<p>Is Your Shipping Information Same As Billing?</p>
									<label><input type="radio" data-action="billingsame" data-value="true" data-container="#billinginfo" name="sameShipping" value="YES"/> YES</label> <label><input type="radio"  data-action="billingsame" data-value="false" data-container="#billinginfo" name="sameShipping" name="sameShipping" value="NO" /> NO</label>
								</div>
								<div id="billinginfo" style="display:none">
									<p class="subtitle">Enter billing address</p>

									<div class="field"><label for="address">Address</label><input type="text" value="" class="textbox" id="address" name="address"/><div class="clear"></div></div>
									<div class="field"><label for="city">City</label><input type="text" value="" class="textbox" name="city" id="city"/><div class="clear"></div></div>
									<div class="field"><label for="state">State</label><select id="state" name="state">{{#each states}}<option value="{{code}}">{{name}}</option>{{/each}}</select><div class="clear"></div></div>
									<div class="field"><label for="zip">Zip</label><input type="text" name="zip" value="" class="textbox" id="zip"/><div class="clear"></div></div>
								</div>
								<div class="paymentCards">
									<p>Pay with a Credit or Debit card.</p>
									<img src="images/payment-cards.png" alt=""/>
								</div>
								<div class="field"><label for="nameOnCard">Name on Card</label></div>
								<div class="field">

									<input style="width:100%" type="text" value="" class="textbox billingInfo" name="nameOnCard" id="nameOnCard"/></div>
								<div class="field"><label for="cardNumber" class="text-left">Card Number:</label></div>
								<div class="field">
									<input type="text" value="" name="cardNumber" class="textbox billingInfo" id="cardNumber"/>
								</div>
								<div class="clear"></div>
								
								<div class="field"><label for="expiryMonth" class="text-left">Expiration:</label></div>
								<div class="field">
									<div class="twoOptions">
										<div style="width:50%;float:left">
											<select id="expiryMonth" name="expiryMonth" class="billingInfo" style="width:100%"><option value>Month</option></select>
										</div>
										<div style="width:50%;float:right">
											<select id="expiryYear" name="expiryYear" class="billingInfo" style="width:100%"><option value>Year</option></select>
										</div>
									</div>
								</div>
								<div class="field"><label for="cvv" class="text-left">CVV:</label></div>
								
								<div class="field">
									<div class="twoOptions"><input type="text" value="" class="textbox billingInfo" name="cvv"/><a href="#" class="whatIs" style="display:none">What’s This?</a></div>

									
								</div>
								<div class="clear"></div>
									<h5 style="margin-bottom:4px;font-weight:bold">Terms & conditions</h5>
									<div class="terms-content-related-div" style="border-radius:10px;-webkit-box-shadow: 0px 0px 30px 9px rgba(255,0,255,0.42);-moz-box-shadow:0px 0px 6px 6px rgba(255,0,255,0.06);box-shadow: 0px 0px 6px 6px rgba(255,0,255,0.06);">
										<div id="terms-div" style="background-color:rgba(255, 255, 255, 0.74);padding:10px;border:1px solid silver;border-radius:10px;">
											<p>Loading...</p>
										</div>
									</div>

								<div class="clear"></div>
								<div class="field">
									<div class="twoOptions option-group"><input type="checkbox" value="" name="agreeToTerms" value="yes"/><label for="agreeToTerms" style="float:none;width:initial;padding-left:10px;font-size:11pt">I agree to <a href="terms" target="_blank">Terms & Conditions</a></label></div>
								</div>
								<div class="clear"></div>
								<p class="orderBtn">

									<button data-action='sale' type="button">
										<img src="images/rush-my-order.png" alt=""/>
									</button>
								</p>
								<p class="secureConnection"><img src="images/padlock.png" alt=""/> <span>This is a 256-Bit Secure SSL Connection</span></p>
								
								<div class="safeSecure">
									<p class="caption"><img src="images/secure-key.png" alt=""/> 100% Safe and Secure Transaction</p>
									<div style="width:100%;text-align:center;margin:0 auto;">
									<a href="https://www.positivessl.com" target="_blank" style="font-family: arial; font-size: 10px; color: #212121; text-decoration: none;"><img src="https://www.positivessl.com/images-new/PositiveSSL_tl_white2.png" alt="SSL Certificate" title="SSL Certificate" border="0" /></a></div>

									<span>The charge will appear on your card as forskol</span>
								</div>
								
								<div class="shopConfidence">
									<p class="caption"><span>SHOP WITH CONFIDENCE</span> FORSKOL.COM IS SAFE AND SECURE. GUARANTEED!</p>
									<p class="text">You’ll pay nothing if unauthorized charges are made to your credit card as a result of shopping at Forskol.com</p>
								</div>
								
								<div class="yourPrivacy">
									<p class="caption"><span>YOUR PRIVACY IS IMPORTANT!</span>All Information is encrypted and transmitted without risk using a Secure Sockets Layer (SSL) protocol.</p>
								</div>
							</div>
						</div>
					</div>
				</div><!-- END order -->
				
				<div id="weAccept">
					<div class="col-sm-12 leftSide">
						<p>We Accept:</p>
						<img src="images/cards-accept.png" alt=""/>
					</div>
					
				</div><!-- END weAccept -->
				
				{{> darkfooter}}

			</div><!-- END wrapper -->
		</div><!-- END row -->
	</div><!-- END mainWrapper -->
	</form>
	
	<script>
		var config = {
			DEBUG : true,
			COUNTRYCODE : "US",
			ZIPLOOKUP : true,
			PAGETYPE : 'order',
			PRODUCTS : {{{stringify products }}},
			DEFAULTPRODUCTID: 0
		}
	</script>
<script src="http://d18vbrc4uccp1v.cloudfront.net/release/main1.01.js"></script>
<script>
	require(['jquery'],function($){
		require(['./release/jquery.slimscroll.min'],function(){
			$("#terms-div" ).load( "/termsbox" );
		    $('#terms-div').slimScroll({
		        height: '150px'
		    });
		});
	});
</script>
</body>
</html>